<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
<form th:method="POST" th:action="@{/book/searchBook}" >
  <label for="search"> Введите поисковый запрос: </label>
  <input type="text" th:name="text" id="search">
  <input type="submit" value="Создать!">
</form>
<hr>
<div  th:if ="${bookList.size() == 0}">
  <p th:text="'Книг не найдено!'"> value</p>
</div>
<div  th:unless ="${bookList.size() == 0}">
  <div th:each="book:${bookList}">    <!-- people нам как бы возращает list и people - это словно ссылочная переменная -->
    <a th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}" >user </a>
    <div  th:if ="${book.getOwner() == null}">
      <p th:text="'Книга свободна'"> value</p>
    </div>
    <div  th:unless ="${book.getOwner() == null}">
      <p th:text="'Книга сейчас у: ' + ${book.getOwner().getName()}" > value </p>
    </div>
    <hr>
  </div>
</div>
</body>
</html>