<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<div th:each="person:${people}">    <!-- people нам как бы возращает list и people - это словно ссылочная переменная -->
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName()} + ', ' + ${person.getYear_birth()}">user</a>
</div>
<hr>
<form th:method="GET" th:action="@{/people/new}" >
    <input type="submit" value="Добавить человека">
</form>
<form th:method="GET" th:action="@{/book}">
    <input type="submit" value="Перейти на страницу с книгами">
</form>
</body>
</html>